127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in groups.servers %}
{% if hostvars[item]['ansible_ssh_host'] is defined %}
{{ hostvars[item]['ansible_ssh_host'] }} {{ item }}
{% endif %}
{% endfor %}
